layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            // Save `zjstatus.wasm` in the plugin directory.
            // To confirm where is the plugin directory, run `zellij setup --check`.
            //
            // By default, it is:
            //
            // - on windows, "C:\Users\$USERNAME\AppData\Roaming\Zellij\data\plugins"
            // - on linux, "$HOME/.config/zellij/data/plugins"
            plugin location="file:zjstatus.wasm" {
                color_primary "#8fcef3"
                color_on_primary "#003549"
                color_primary_container "#004c69"
                color_on_primary_container "#c4e7ff"

                color_secondary "#b5c9d7"
                color_on_secondary "#20333e"
                color_secondary_container "#374955"
                color_on_secondary_container "#d1e5f4"

                color_tertiary "#cac1e9"
                color_on_tertiary "#322c4c"
                color_tertiary_container "#484264"
                color_on_tertiary_container "#e6deff"

                color_error "#ffb4ab"
                color_on_error "#690005"
                color_error_container "#93000a"
                color_on_error_container "#ffdad6"

                color_surface "#0f1417"
                color_on_surface "#dfe3e7"
                color_surface_dim "#0f1417"
                color_surface_bright "#353a3d"
                color_surface_container_lowest "#0a0f12"
                color_surface_container_low "#181c1f"
                color_surface_container "#1c2023"
                color_surface_container_high "#262b2e"
                color_surface_container_highest "#313539"
                color_on_surface_variant "#c0c7cd"
                color_outline "#8b9297"
                color_outline_variant "#41484d"
                color_inverse_surface "#dfe3e7"
                color_inverse_on_surface "#2c3134"
                color_inverse_primary "#1c6586"

                color_pink "#eeb4e9"
                color_on_pink "#4a204b"
                color_pink_container "#643663"
                color_on_pink_container "#ffd6f9"

                color_green "#a7d394"
                color_on_green "#13380a"
                color_green_container "#2a4f1f"
                color_on_green_container "#c2efae"

                color_gold "#ddc66e"
                color_on_gold "#3a3000"
                color_gold_container "#544600"
                color_on_gold_container "#fae287"

                color_cyan "#81d5cb"
                color_on_cyan "#003733"
                color_cyan_container "#00504a"
                color_on_cyan_container "#9df2e7"

                color_amber "#ffb688"
                color_on_amber "#512400"
                color_amber_container "#6e380f"
                color_on_amber_container "#ffdbc7"

                // format_left   "#[bg=$surface_container]{mode}"
                // format_center "#[bg=$surface_container]{tabs}"
                // format_right  "#[bg=$surface_container]{datetime}"
                // format_space  "#[bg=$surface_container]"

                // mode_normal "#[fg=$green,bg=$surface_container,bold] NORMAL "
                // mode_tab    "#[fg=$amber,bg=$surface_container,bold]  TABS  "
                // mode_pane   "#[fg=$pink,bg=$surface_container,bold]  PANE  "
                // mode_move   "#[fg=$gold,bg=$surface_container,bold]  MOVE  "
                // mode_resize "#[fg=$cyan,bg=$surface_container,bold] RESIZE "
                // mode_locked "#[fg=$outline,bg=$surface_container,bold] LOCKED "

                // tab_normal  "#[fg=$secondary,bg=$surface_container] {index} "
                // tab_active  "#[fg=$primary,bg=$surface_container,bold] {index} "

                format_left   "{mode}"
                format_center "{tabs}"
                format_right  "{datetime}"
                format_space  ""

                mode_normal "#[fg=$green,bold] NORMAL "
                mode_tab    "#[fg=$amber,bold] TABS  "
                mode_pane   "#[fg=$pink,bold] PANE  "
                mode_move   "#[fg=$gold,bold] MOVE  "
                mode_resize "#[fg=$cyan,bold] RESIZE "
                mode_locked "#[fg=$outline,bold] LOCKED "

                tab_normal  "#[fg=$secondary] {index} "
                tab_active  "#[fg=$primary,bold] {index} "

                // Use zjstatus > 0.23.0 to avoid a UI refresh issue.
                datetime        "#[fg=$outline] {format} "
                datetime_format "%Y-%m-%d %H:%M:%S"
                datetime_timezone "Asia/Shanghai"
            }
        }
    }
}

