layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            // Save `zjstatus.wasm` in the plugin directory.
            // To confirm where is the plugin directory, run `zellij setup --check`.
            //
            // By default, it is:
            //
            // - on windows, "C:\Users\$USERNAME\AppData\Roaming\Zellij\data\plugins"
            // - on linux, "$HOME/.config/zellij/data/plugins"
            plugin location="file:zjstatus.wasm" {
                color_bg_time "#686284"

                format_left   "{mode}"
                format_center "{tabs}"
                format_right  "{datetime}"
                format_space  ""

                border_enabled  "false"
                border_char     "─"
                border_format   "#[fg=#6C7086]{char}"
                border_position "top"

                mode_normal "#[bg=green,fg=black,bold] NORMAL "
                mode_tab    "#[bg=blue,fg=black,bold]  TABS  "
                mode_pane   "#[bg=cyan,fg=black,bold]  PANE  "
                mode_move   "#[bg=yellow,fg=black,bold]  MOVE  "
                mode_resize "#[bg=red,fg=black,bold] RESIZE "
                mode_locked "#[bg=bright_black,fg=black,bold] LOCKED "
                mode_scroll "#[bg=magenta,fg=black,bold] SCROLL "

                tab_normal   "#[fg=bright_black] {index} "
                tab_active   "#[bg=magenta,fg=black,bold] {index} "

                // Use zjstatus > 0.23.0 to avoid a UI refresh issue.
                datetime        "#[bg=$bg_time,fg=black,bold] {format} "
                datetime_format "%Y-%m-%d %H:%M:%S"
                datetime_timezone "Asia/Shanghai"
            }
        }
    }
}

