set scrolloff=5
set scroll=10

" Do incremental searching.
set incsearch
set nu
set rnu
set ruler
set hls
set clipboard+=unnamed
" IdealVim icon in status bar, bottom right conor.
" enabled/gray/disabled
set ideastatusicon=gray

" Keymap compatible with neovim lsp-config
" vim.diagnostic.open_float
map <space>e <Action>(ShowErrorDescription)
" vim.lsp.buf.rename
map <space>rn <Action>(RenameElement)
" <Cmd>CodeActionMenu<CR>
map <space>ca <Action>(ShowIntentionActions)
" vim.diagnostic.goto_prev
map [d <Action>(GotoPreviousError)
" vim.diagnostic.goto_next
map ]d <Action>(GotoNextError)

" Don't use Ex mode, use Q for formatting.
map Q gq


"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)


" Find more examples here: https://jb.gg/share-ideavimrc
